.page-main-heading {
  font-size: 3rem;
  line-height: 4rem;
  word-break: break-word;
}

.content-main-heading {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 700;
  word-break: break-word;
}
