$font-color: #333 !default;
$font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', 'sans-serif' !default;

$border-color: #ccc;

$header-background: #dedede;
$navigation-background: #f4f4f4;
$footer-background: #e4e4e4;

$breakpoint-laptop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile-large: 425px;
