@import 'variables';
@import 'mixins';

.avatar {
  display: block;

  img {
    @include centered-block;
  }

  @media (min-width: $breakpoint-mobile-large + 1) {
    .avatar-thumbnail {
      display: none;
    }
  }

  @media (max-width: $breakpoint-mobile-large) {
    float: left;

    .avatar-full-size {
      display: none;
    }
  }
}
